$primaryColor: hsl(238, 29%, 16%);
$red: hsl(14, 88%, 65%);
$violet: hsl(273, 75%, 66%);
$blue: hsl(240, 73%, 65%);
$darkBlue700: hsl(237, 12%, 33%);
$darkBlue500: hsl(240, 6%, 50%);
$lightBlue: hsl(240, 5%, 91%);
$font: 'Kumbh Sans', sans-serif; 